---
layout: gallery
title: Final Projects
permalink: galleries/final-projects
---

<p>
  In the previous recitations and projects, students were asked to work on
  specific areas: Drawing, Generative Visuals, Interactive Experience, the Data
  Visualization. In <a
    href="https://docs.google.com/document/d/1sLbt5CQMm8ZVlM2s18iBkgFyY4Ma_jN4oooBxxPfQzA/edit?usp=sharing">Project
    IV. Creative Coding</a>, they may choose their own area. They are also given
  the option of extending a prevoius project.
</p>

<div id="shuffled" class="ui cards">
  {% assign projects = site.data.final-projects %}
  {% for project in projects %}
  {% if project.omit %}{% continue %}{% endif %}
  <div class="ui card">
    {% if project.omit %}{% continue %}{% endif %}

    {% assign code_url = null %}
    {% assign show_url = null %}
    {% if project.github_nwo %}
    {% assign github_owner = project.github_nwo | split: "/" | first %}
    {% assign github_name = project.github_nwo | split: "/" | last %}
    {% capture code_url %}https://github.com/{{ project.github_nwo }}#{% endcapture %}
    {% capture show_url %}https://{{ github_owner }}.github.io/{{ github_name }}#{% endcapture %}
    {% endif %}
    {% if project.glitch_id %}
    {% capture code_url %}https://glitch.com/edit/#!/{{ project.glitch_id }}{% endcapture %}
    {% capture show_url %}https://{{ project.glitch_id }}.glitch.me{% endcapture %}
    {% endif %}
    {% if project.code_url %}{% assign code_url = project.code_url %}{% endif %}
    {% if project.show_url %}{% assign show_url = project.show_url %}{% endif %}

    {% if project.screenshot %}
    <img class="image"
      src="{% unless project.screenshot contains '/' %}/assets/images/final-projects/{% endunless %}{{ project.screenshot }}" />
    {% endif %}

    <div class="content">
      <a class="header">{{ project.title | default: default_title }}</a>
      <div class="meta">By {{ project.authors | replace: ", ", " & " }}</div>
      <div class="description">
        {{ project.description }}
      </div>
      {% if project.instructions %}
      <div class="description">
        <b>Instructions</b>: {{ project.instructions }}
      </div>
      {% endif %}
    </div>

    <div class="extra content">
      {% if show_url %}
      <a class="ui primary button" href="{{ show_url }}" target="play" title="Interact with the project">
        <i class="play icon"></i>
        Show
      </a>
      {% endif %}
      {% if code_url %}
      <a href="{{ code_url }}" target="source">
        <i class="github icon"></i>
        Code
      </a>
      {% endif %}
    </div> <!-- .extra.content -->

  </div> <!-- .ui.card -->
  {% endfor %}
</div> <!-- .ui.card -->
