---
layout: gallery
title: Final Projects
permalink: galleries/final-projects
---

<p class="gallery-description">
  In <a href="https://docs.google.com/document/d/1sLbt5CQMm8ZVlM2s18iBkgFyY4Ma_jN4oooBxxPfQzA/edit?usp=sharing">Creative
    Coding Final Project</a>, students may choose their own area, or extend one of the
  previous projects: <em>Drawing</em>, <em>Generative Visuals</em>, <em>Interactive Experience</em>, or
  <em>Data Visualization</em>.
</p>

<div id="shuffled" class="ui cards">
  {% assign projects = site.data.final-projects %}
  {% for project in projects %}
  {% if project.omit %}{% continue %}{% endif %}
  <div class="ui card cclab-section-{{ project.section }}">
    {% if project.omit %}{% continue %}{% endif %}

    {% capture default_title %}{{ project.authors }}’s Project{% endcapture %}

    {% assign code_url = null %}
    {% assign show_url = null %}
    {% if project.github %}
    {% assign github_owner = project.github | split: "/" | first %}
    {% assign github_name = project.github | split: "/" | last %}
    {% capture code_url %}https://github.com/{{ project.github }}#{% endcapture %}
    {% capture show_url %}https://{{ github_owner }}.github.io/{{ github_name }}#{% endcapture %}
    {% endif %}
    {% if project.glitch %}
    {% capture code_url %}https://glitch.com/edit/#!/{{ project.glitch }}{% endcapture %}
    {% capture show_url %}https://{{ project.glitch }}.glitch.me{% endcapture %}
    {% endif %}
    {% if project.code_url %}{% assign code_url = project.code_url %}{% endif %}
    {% if project.show_url %}{% assign show_url = project.show_url %}{% endif %}

    {% if project.screenshot %}
    <img class="image"
      src="{% unless project.screenshot contains '/' %}/assets/images/final-projects/{% endunless %}{{ project.screenshot }}" />
    {% endif %}

    <div class="content">
      <a class="header">{{ project.title | default: default_title }}</a>
      <div class="meta">By {{ project.authors | replace: ", ", " & " }}</div>
      <div class="meta">Section {{ project.section }}</div>
      <div class="description">
        <div>{{ project.description }}</div>
      </div>
      {% if project.instructions %}
      <div class="description">
        <b>Instructions</b>: {{ project.instructions | replace: "•", "<br>• " }}
      </div>
      {% endif %}
      {% if project.blog %}
      <div class="description">
        {% if project.blog[1] %}
        {% for blog in project.blog %}
        <div>
          {% if blog.name %}
          <a href="{{ blog.url }}">
            <i class="book icon"></i>
            Blog:
            {{ blog.name }}</a>
          {% else %}
          <a href="{{ blog }}" target="blog">
            <i class="book icon"></i>
            Blog
          </a>
          {% endif %}
        </div>
        {% endfor %}
        {% else %}
        <a href="{{ blog[0] }}" target="blog">
          <i class="book icon"></i>
          Blog
        </a>
        {% endif %}
      </div>
      {% endif %}
    </div>

    <div class="extra content">
      {% if show_url %}
      <a class="ui primary button" href="{{ show_url }}" target="play" title="Interact with the project">
        <i class="play icon"></i>
        Show
      </a>
      {% endif %}
      {% if code_url %}
      <a href="{{ code_url }}" target="source">
        <i class="github icon"></i>
        Code
      </a>
      {% endif %}
    </div> <!-- .extra.content -->

  </div> <!-- .ui.card -->
  {% endfor %}
</div> <!-- .ui.card -->
