---
layout: gallery
title: Final Projects
permalink: galleries/final-projects
---

<p>
  In the previous recitations and projects, students were asked to work on
  specific areas: Drawing, Generative Visuals, Interactive Experience, the Data
  Visualization. In <a
    href="https://docs.google.com/document/d/1sLbt5CQMm8ZVlM2s18iBkgFyY4Ma_jN4oooBxxPfQzA/edit?usp=sharing">Project
    IV. Creative Coding</a>, they may choose their own area. They are also given
  the option of extending a prevoius project.
</p>

<div id="shuffled" class="ui cards">
  {% assign projects = site.data.final-projects %}
  {% for project in projects %}
  <div class="ui card">
    {% if project.omit %}{% continue %}{% endif %}
    {% if project.screenshot %}
    <img class="image" src="/assets/images/final-projects/{{ project.screenshot }}" />
    {% endif %}
    <div class="content">
      <a class="header">{{ project.title | default: default_title }}</a>
      <div class="meta">By {{ project.authors | replace: ", ", " & " }}</div>
      <div class="description">
        {{ project.description }}
      </div>
      {% if project.instructions %}
      <div class="description">
        <b>Instructions</b>: {{ project.instructions }}
      </div>
      {% endif %}
    </div>
    <div class="extra content">
      {% if project.show_url %}
      <a class="ui primary button" href="{{ project.show_url }}" target="play" title="Interact with the project">
        <i class="play icon"></i>
        Show
      </a>
      {% endif %}
      {% if project.code_url %}
      <a href="{{ project.code_url }}" target="source"><i class="github icon"></i>Code</a>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
