---
layout: gallery
title: Interactive Projects
permalink: galleries/interactive-projects-3
---

<div class="assignment-description">
    <p>This is a <em>group software project</em> to develop a screen-based <em>interactive experience</em> utilizing
        <em>Object-Oriented Programming concepts</em> and <em>mouse
            and/or keyboard interaction(s)</em>. Students are encouraged to
        explore diverse methods of visualizing/manipulating
        "<em>objects</em>" and find their own ways how they
        <em>effectively interact with users</em>. The project needs to
        discuss effective and/or meaningful <em>interaction methods</em>
        and demonstrate a coherent
        <em>understanding of Object-Oriented Programming</em> and <em>technical proficiency in p5.js</em>.</p>

    <p>Students will create a sketch that is an inspiration from / application of the techniques and concepts addressed
        by the midterm date.</p>
</div>
<div id="shuffled" class="ui cards">
    {% assign projects = site.data.interactive-projects | sample: 100 %}
    {% for project in projects %}
    {% unless project.section == 3 %}{% continue %}{% endunless %}
    {% capture default_title %}{{ project.authors }}’s Project{% endcapture %}
    <div class="ui card">
        {% if project.screenshot %}
        <img class="image" src="{{ project.screenshot }}" />
        {% endif %}
        <div class="content">
            <a class="header">{{ project.title | default: default_title }}</a>
            <div class="meta">By {{ project.authors | replace: ", ", " & " }}</div>
            <div class="description">
                {{ project.description }}
            </div>
            {% if project.instructions %}
            <div class="description">
                <b>Instructions</b>: {{ project.instructions }}
            </div>
            {% endif %}
        </div>
        <div class="extra content">
            <a class="ui primary button" href="{{ project.url }}" target="play" title="Interact with the project">
                <i class="play icon"></i>
                Run
            </a>
            {% if project.repo %}
            <a href="{{ project.repo }}" target="source"><i class="github icon"></i>Source</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
