---
layout: gallery
title: Interactive Experience Projects
permalink: galleries/interactive-projects
---

<p>
  <a
    href="https://docs.google.com/document/d/1KyPnTRqoMipSgxU10QJ_ey74tY0YETPe3Q9Xt26TWRo/edit?usp=drive_web&ouid=112951101116018294463">Project
    II. Interactive
    Experience</a>
  is a <em>group software project</em> to develop a <em>screen-based interactive
    experience</em> utilizing <em>Object-Oriented Programming</em> concepts and <em>mouse
    and/or keyboard interaction</em>(s).
</p>

<div id="shuffled" class="ui cards">
  {% assign projects = site.data.interactive-projects %}
  {% for project in projects %}
  {% capture default_title %}{{ project.authors }}’s Project{% endcapture %}
  <div class="ui card">
    {% if project.screenshot %}
    <img class="image" src="{{ project.screenshot }}" />
    {% endif %}
    <div class="content">
      <a class="header">{{ project.title | default: default_title }}</a>
      <div class="meta">By {{ project.authors | replace: ", ", " & " }}</div>
      <div class="description">
        {{ project.description }}
      </div>
      {% if project.instructions %}
      <div class="description">
        <b>Instructions</b>: {{ project.instructions }}
      </div>
      {% endif %}
    </div>
    <div class="extra content">
      <a class="ui primary button" href="{{ project.url }}" target="play" title="Interact with the project">
        <i class="play icon"></i>
        Run
      </a>
      {% if project.repo %}
      <a href="{{ project.repo }}" target="source"><i class="github icon"></i>Source</a>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>

<script type="text/javascript">
  function shuffleCards() {
    let parent = document.getElementById("shuffled");
    let oldElements = [...parent.children];
    let newElements = [];
    while (oldElements.length > 0) {
      let i = Math.floor(oldElements.length * Math.random());
      newElements.push(oldElements[i]);
      oldElements.splice(i, 1);
    }
    for (let child of [...parent.children]) {
      parent.removeChild(child);
    }
    for (let child of newElements) {
      parent.appendChild(child);
    }
  }
  shuffleCards();
</script>
